<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>SRMA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Theme/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/Theme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/css/theme.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div>
        @RenderBody()        
    </div>
    <!-- end page -->
    <!-- jQuery  -->
    <script src="~/Theme/assets/js/jquery.min.js"></script>
    <script src="~/Theme/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Theme/assets/js/metismenu.min.js"></script>
    <script src="~/Theme/assets/js/waves.js"></script>
    <script src="~/Theme/assets/js/simplebar.min.js"></script>

    <!-- App js -->
    <script src="~/Theme/assets/js/theme.js"></script>

</body>

</html>